*{
    box-sizing: border-box;
    margin:0;
}


body {
    font-family:"Merriweather Sans",sans-serif;
    color: #670b53;;

}

.wrapper {
    max-width:  1080px;
    height: 750px;
    /* background-color: #353233; */
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin:0 auto;
    padding: 40px;

}

.title {
    max-width: 500px;
    font-size :35px;
    font-weight:bold;
}   


.restart{
    width: 175px;
    height: 50px;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 50px;
    border:2px solid #670b53;
    transition: all 0.2s ease;
    cursor: pointer;
    margin-top: 30px;
}
.restart:hover{
    background:#d181c0;
    color:white;
    
}

.left_section{
    display: flex;
    align-items: left;
    flex-direction: column;
}
.theme{
    padding-top: 10px;
}
.right_section {
    padding-left: 15px;
}

.game{    
    display:flex;
    flex-direction: column;
    /* background-color: #353233; */
    width: 500px;
    height: 500px;
}


.game_header{
    display:flex; 
    color: rgb(100, 100, 100);
    font-size: 24px;
}

.game_header .player-x{
    flex: 1;
    border-bottom: 3px solid rgb(90, 90, 89);
    padding-bottom: 9px;
    
}
.game_header .player-o{
    flex: 1;
    border-bottom: 3px solid rgb(90, 90, 90);
    padding-bottom: 9px;
}

.player-x.active{
    color: rgb(187, 147, 60);
    border-color: rgb(187, 147, 60);
}
.player-o.active{   
    color: rgb(214, 118, 214);
    border-color: rgb(214, 118, 214);
    

}

.tile-x{
    color:rgb(187, 147, 60);
}
.tile-o{
    color: rgb(214, 118, 214);
}
.tile-winner span{
    color: rgb(69, 223, 151);

}
.board{
    display:grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
    flex-grow: 1;
    padding: 10px;
    /* background-color:#fff0fb; */
}

.board-tile{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 100px;
    /* background-color: #353233; */
    /* background:white; */

    /* border:2px solid;  */

}

.board-tile:not(:nth-child(3n)){
    border-right:2px solid  rgb(169, 17, 196) ;
}

.board-tile:not(:nth-child(n+7) ){
    border-bottom:2px solid rgb(169, 17, 196) ;
}
/* .board-tile:not(:nth-last-child(-n+3) ){
    border-bottom:2px solid rgb(169, 17, 196) ;
} */


.board-tile:hover{
    background : rgb(214, 213, 213) ;
    cursor: pointer;
}




@media only screen and (max-width:700px){
    .wrapper{
        flex-direction: column;
    }
    .left {
        margin-bottom: 50px;
    }
    .game{    
        display:flex;
        flex-direction: column;
        width: 320px;
        height: 350px;

    }
    .board-tile{
        font-size: 88px;
    }
}

/* dark to light themes */
body{
    background-color: white;
}

body.dark-theme{
    background-color:#353233;
}
.wrapper{
    background-color: white; 
}
.wrapper.dark-themew{
    background-color: #353233; 
}

.board-tile{
    background-color: white; 
}
.board-tile.dark-theme{
    background-color: white; 
}
/* .board{
    background-color: white;
} */


@media (prefers-color-scheme: dark) {   
    .wrapper ,.board-tile{
        background-color: #353233; 
    }
    .board{
        background-color: #353233;
    }
    .title{
        color: rgb(223, 238, 230);
    }
    
    body{
        background-color: #353233;
    }
    /* toggle */
    body.light-theme{
        background-color:white;
    }
    .wrapper{
        background-color: #353233; 
    }
    .wrapper.dark-theme{
        background-color: white; 
    }
    .board-tile{
        background-color: #353233; 
    }
    .board-tile.dark-theme{
        background-color: white; 
    }
    .board{
        background-color: #353233;
    }
    .board.dark-theme{
        background-color: white;
    }
    .restart{
        border:2px solid white;
        color:white;
        }
    .restart.dark-theme{
        border:2px solid #670b53;
        color:black;
    }
    .title{
        color: rgb(223, 238, 230);
    }
    .title.dark-theme{
        color: rgb(57, 58, 57);
    }


}

@media (prefers-color-scheme: light) {   
    .wrapper{
        background-color: white; 
    }
    
    .board-tile{
        background-color: white; 
    }

    .title{
        color: rgb(57, 58, 57);
    }

    .restart{
        border:2px solid #670b53;
        color:black;
    }
    body{
        background-color: white;
    }
    .wrapper{
        background-color: white; 
    }
    .wrapper.dark-theme{
        background-color: #353233; 
    }
    
    .board-tile{
        background-color: white; 
    }
    .board-tile.dark-theme{
        background-color: #353233; 
    }
    .board{
        background-color: white;
    }
    .board.dark-theme{
        background-color: #353233;
    }
    .restart{
        border:2px solid #670b53;
        color:black;
    }
    .restart.dark-theme{
        border:2px solid white;
        color:white;
    }
    .title{
        color: rgb(57, 58, 57);
    }
    .title.dark-theme{
        color: rgb(223, 238, 230);
    }
    
}


.theme{
    padding-bottom: 1px;


}
.theme:hover{
    cursor: pointer;
    color:white;
}

  
  .switch {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .switch div {
    position: relative;
    display: block;
    background: #eee;
    width: 30px;
    border-radius: 50px;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .fa-adjust {
    transform: rotate(180deg);
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    background-color: #999;
    transition: 0.4s;
    border-radius: 34px;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: relative;
  }
  
  input:checked + .slider {
    transform: translateX(8px);
  }
  